header {
  text-align: center;
  height: 100px;
}

.display{
    font-size: 26px;
    margin: auto;
    text-align: center;
}

.centered {
   display: flex;
   justify-content: center;
   align-items: center;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

.input {
  width: 50%;
  height: 8rem;
  margin: auto;
  resize: none;
  padding: .5rem 1rem;
  font-size: 26px;
  font-family: "Georgia";
  border-radius: .5rem;
}
